<div class="container" >
  <div *ngIf="listPublic.length == 0" class="foro-vacio">
    No existen foros
    <img src="/src/assets/img/empleado-de-oficina.png" alt="">
  </div>
      <mat-card class="example-card"    *ngFor="let m of this.listPublic" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{m.titulo}}</mat-card-title>
          <mat-card-subtitle>{{m.usuario}}</mat-card-subtitle>
          <div class="hora">
            <mat-card-subtitle >{{m.fecha |date: 'MM/dd/yyyy'}}</mat-card-subtitle>
            <mat-card-subtitle class="hora">{{m.fecha |date:'shortTime'}}</mat-card-subtitle>
          </div>
        </mat-card-header>
        

        <mat-card-content>
           <div [innerHTML]=" m.contenido | safeHtml"></div> 
        </mat-card-content>
        
        <div class="acciones">
          <button  mat-icon-button  >
            <mat-icon matTooltip="Cant Me gusta">thumb_up</mat-icon><span>{{m.cant_like}}</span>
          </button >
          <button  mat-icon-button>
            <mat-icon matTooltip="Cant No me gusta">thumb_down</mat-icon><span>{{m.cant_dislike}}</span>
          </button>
          <button  mat-icon-button class="izq" (click)="verPost(m.id)">
            Ver..
          </button>
        </div>
      </mat-card>
      

      
</div>

<router-outlet></router-outlet>

