.example-card {
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 7px;
  color: white;
  background: linear-gradient(to top, #110901fb 0%, #272626a9 100%);
}



.foro-vacio {
  background: url("/src/assets/img/empleado-de-oficina.png");
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-card .hora{
  left: 2px;
  width: 10%;
}

.acciones{
  border-top: 1px solid rgb(160, 160, 160);
  height: 27px;
}

.acciones .izq{
  float: right;
}