.example-card {
    /* max-width: 80%;
    max-height: 80%; */
    width: 75%;
    height: 40%;
    background: linear-gradient(to top, #110901fb 0%, #272626a9 100%);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .example-card .hora{
    float: right;
    width: 10%;
    
  }
  
  .acciones{
    height: 27px;
  }
  
  .acciones .izq{
    float: right;
  }

  .ex mat-card-title{
    font-size: 42px;
  }


 