body{
}

.login-back{
  background: url('/src/assets/img/cafee.jpg');
  background-size: cover;
}


p{
  color: red;
}

.login { 
  text-align: center;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}


 
.login img {
  width: 50%;
}


.ancho {
  width: 80%;
}


.boton{
  height: 50px;
}

.button button {
  
}

.button button mat-icon{
  font-size: 50px;
  width: 50px;
  color: chocolate;
} 

.spinner{
  margin: 0 auto;
}