.example-card {
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}