/* You can add global styles to this file, and also import other style files */

html { }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: linear-gradient(to top, rgba(180, 163, 146, 0.624) 0%, rgba(143, 131, 111, 0.46)100%), url(/assets/img/fondo4.jpg);}


.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 50px;
}
